# Protect .htaccess and .htpasswd files
<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

# Protect connexion.php
<Files ~ "connexion.php">
deny from all
</Files>

# Prevent directory listings
Options All -Indexes

#
Options +MultiViews
RewriteEngine On

# .php is not necessary
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Do not redirect existing files/dirs
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Redirect everything else to index.php
RewriteRule ^.*$ index.php [NC,L]

#
order deny,allow
